<% if (method === 'POST') { %>
    <form action="/section/<%= section.id %>/<%= section.id %>" method="POST">    
        Company Name: <input type="text" name="company"><br>
        Position: <input type="text" name="position"><br>
        Date: <input type="date" name="date"><br>
        Notes: <input type="text-area" name="notes"><br>
        Title: <input type="text" name="title"><br>
        Description: <input type="text-area" name="description"><br>
        Association: <input type="text" name="association"><br>
        Start Date: <input type="date" name="startDate"><br>
        End Date: <input type="date" name="endDate"><br>
        
        <input type="submit" value="ADD NEW ITEM">
    </form>
<% } else { %>
    <% console.log('Item found for edit form: ', item) %>
    <form action="/section/<%= item.section %>/<%= item.id %>?_method=PUT" method="POST">
        Company Name: <input type="text" name="company" value="<%= item.company %>"><br>
        Position: <input type="text" name="position" value="<%= item.position %>"><br>
        Date: <input type="date" name="date" value="<%= item.date %>"><br>
        Notes: <input type="text-area" name="notes" value="<%= item.notes %>"><br>
        Title: <input type="text" name="title" value="<%= item.title %>"><br>
        Description: <input type="text" name="description" value="<%= item.description %>"><br>
        Association: <input type="text" name="association" value="<%= item.association %>"><br>
        Start Date: <input type="date" name="startDate" value="<%= item.startDate %>"><br>
        End Date: <input type="date" name="endDate" value="<%= item.endDate %>"><br>
        
        <input type="submit" value="EDIT ITEM">
    </form>
<% } %>
