<ul id="nav-container">
    <a class="nav-link" href="#">
        <div>
            <img src="#" alt="#">
            <p><%= currentUser.email %></p>
        </div>
    </a>
    <% for (section of userSections) { %>
        <a class="nav-link" href="/section/<%= section._id %>">
            <div class="<% if (section.name === 'Resumes') { %>
                    <%= "resumes-link" %>
                <% } else { %>
                    <%= "section-link" %>
                <% } %>
            ">
            <p><%= section.name %></p>
            </div>
        </a>
    <% } %>
    <form action="/session?_method=DELETE" method="POST">
        <input type="submit" value="LOG OUT">
    </form>
</ul>