<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Master My Resume</title>
</head>
<nav>
    <%- include ('./partials/nav.ejs') %>
</nav>
<body>
    <div id="item-cards">
        <a class="card add" href="/section/<%= section.id %>/new/<%= section.id %>">
            <div class="circle plus"></div>
            <p>ADD NEW ITEM</p>
        </a>

        <% for (sectionItem of sectionItems) { %>
            <a class="card item" href="/section/<%= section.id %>/item/<%= sectionItem.id %>">
                <div id="info-container">
                    <p><%= sectionItem.title %> </p>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>