<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Master My Resume</title>
</head>
<nav>
    <%- include ('./partials/nav.ejs') %>
</nav>
<body>
    <div id="item-cards">
        <a href="/section/<%= section.id %>/new/<%= section.id %>">
            <div class="card add">
                <div class="circle plus"></div>
                <p>ADD NEW ITEM</p>
            </div>

        </a>

        <% for (sectionItem of sectionItems) { %>
            <a href="/section/<%= section.id %>/item/<%= sectionItem.id %>">
                <div class="card item">
                    <div id="info-container">
                        <p><%= sectionItem.title %> </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>