<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Master My Resume</title>
</head>
<nav>
    <%- include ('./partials/nav.ejs') %>
</nav>
<body>
    <div id="item-cards">
        <a href="/section/<%= section.id %>/item/new"></a>
        <div class="card add">
            <div class="circle plus" onclick="middleware.userInterface.showModal('new-item-modal')"></div>
            <p>ADD NEW ITEM</p>
        </div>
        <% for (sectionItem of sectionItems) { %>
            <a href="/section/<%= section.id %>/item/<%= item.id %>">
                <div class="card item">
                    <div id="info-container" onclick="let item = sectionItem">
                        <p><%= sectionItem.title %> </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>