<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Resume</title>
</head>
<body>
    <form action="/section/<%= section.id %>/item/<%= item.id %>?_method=PUT" method="POST">
        <input type="text" name="company" value="<%= item.company %>">
        <input type="text" name="position" value="<%= item.position %>">
        <input type="date" name="date" value="<%= item.date %>">
        <input type="text-area" name="notes" value="<%= item.notes %>">
        <% for (section of userSections) { %>
            <input type="checkbox" name="<%= section.name %>">
        <% } %>

        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>